<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
</head>
<body>
<header>
  <h3>Admin Management Profile</h3>
</header>
<div class="left_side">
    <h2>Menu</h2>
    <div>
        <ul>
            <li><a href="fooodItem.html">Add Food Item</a></li>
<!--            <li><a href="category.html">Category</a></li>-->
            <li><a href="orderViewAdmin">Orders</a></li>
            <li><a>Change Password</a></li>
            <li><a>Logout</a></li>
        </ul>
    </div>
</div>
<div class="right_side">
    <h2>Place for food item adding form</h2>
    <div>
        <h3>Place for food item table</h3>
    </div>
</div>


</body>
</html>