<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Registration</title>
</head>
<body>
<header>
  <h3>Admin Registration</h3>
</header>
<main>
  <form th:action="@{/adminRegister}" method="post" th:object="${admin}">
    <div>
      <label for="firstName">First name</label>
      <input id="firstName" type="text" name="firstName" required th:value="${admin?.getFirstName()}" />
    </div>
    <div>
      <label for="lastName">Last name</label>
      <input id="lastName" type="text" name="lastName" required th:value="${admin?.getLastName()}" />
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" required th:value="${admin?.getEmail()}" />
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" minlength="6" required th:value="${admin?.getPassword()}" />
    </div>
    <div>
      <button class="button">Create Admin</button>
    </div>

    <div>

    </div>
    <p>
      <span th:if="${message == 'signup_failed'}">
        <label th:if="${error}" th:text="${error}"></label>
      </span>
    </p>
  </form>
</main>

</body>
</html>